.idea/
node_modules/
npm-debug.log
config/
config.local.js
aot/
server/conf/
app/**/*.js
app/**/*.js.map
shared/**/*.js
shared/**/*.js.map
Communicators/**/*.js
Communicators/**/*.js.map
server/**/*.js
server/**/*.js.map
!server/app.js
!app/systemjs.config.js
!app/systemjs-angular-loader.js
!app/build.js