.idea/

node_modules/
npm-debug.log
config/
config.local.js
typings/
conf/
app/**/*.js
app/**/*.js.map
shared/**/*.js
shared/**/*.js.map
Communicators/**/*.js
Communicators/**/*.js.map
server/**/*.js
server/**/*.js.map
!server/app.js
!server/config.js