<md-list>
    <md-subheader>
        {{$ctrl.name}}
    </md-subheader>
    <md-list-item class="md-list-item-text"
                  ng-repeat="(key, value) in $ctrl.object">
        <md-input-container ng-if="$ctrl.valueType(value) != 'object'">
            <label>{{key}}</label>
            <input  ng-model="$ctrl.object[key]" ng-change="$ctrl.updateValue($event, key)">

        </md-input-container>
        <devctrl-object-editor ng-if="$ctrl.valueType(value) == 'object'"
                                object="$ctrl.object[key]"
                                name="key"
                                on-update="$ctrl.onUpdate(object, name)">
        </devctrl-object-editor>
        <md-button  class="md-icon-button" ng-click="$ctrl.deleteValue(key)">
            <md-icon  md-font-set="material-icons">delete</md-icon>
        </md-button>
    </md-list-item>
    <md-list-item>
        <div layout="row">
            <md-input-container>
                <label>{{$ctrl.name}} Key</label>
                <input id="oe-new-key" ng-model="$ctrl.newKey">
            </md-input-container>
            <md-input-container>
                <label>Value</label>
                <input  ng-model="$ctrl.newVal">
            </md-input-container>
            <md-button ng-click="$ctrl.addItem()">
                Add
            </md-button>
        </div>
    </md-list-item>

</md-list>