<md-dialog>
    <md-toolbar layout-align="center center">
        <span ng-if="record.obj.id !== 0">{{record.schema.label}}[{{record.obj._id}}]</span>
        <span ng-if="record.obj.id == 0">New {{record.schema.label}} Record</span>
    </md-toolbar>
    <md-dialog-content>

        <md-list>
            <md-subheader>Edit</md-subheader>
            <md-list-item class="md-list-item-text"
                 ng-repeat="field in record.schema.fields"
                 ng-switch="field.type">
                <md-input-container ng-if="field.type == 'string'">
                    <label>{{field.label}}</label>
                    <input  ng-model="record.obj[field.name]">
                </md-input-container>
                <md-input-container ng-if="field.type == 'int'">
                    <label>{{field.label}}</label>
                    <input  type="number" ng-model="record.obj[field.name]">
                </md-input-container>
               <!-- <fk-select ng-if="field.type == 'fk'"
                           table="record.schema.foreign_keys[field.name]"
                           field="field"
                           select-model="record.obj">
                </fk-select> -->
                <fk-autocomplete ng-if="field.type == 'fk'"
                           table="record.schema.foreign_keys[field.name]"
                           field="field"
                           object-field="record.obj.objectPropertyName(field.name)"
                           selected-item-id="record.obj[field.name]"
                           on-update="record.objectUpdated(value, name)">
                </fk-autocomplete>
                <md-input-container ng-if="field.type == 'select-static'">
                    <label>{{field.label}}</label>
                    <md-select placeholder={{field.label}} ng-model="record.obj[field.name]">
                        <md-option ng-value="option.value"
                                   ng-repeat="option in field.options">
                            {{option.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="field.type == 'bool'">
                    <md-checkbox
                                 class="md-primary"
                                 ng-true-value="1"
                                 ng-false-value="0"
                                 ng-model="record.obj[field.name]">
                        {{field.label}}
                    </md-checkbox>
                </md-input-container>
                <devctrl-object-editor ng-if="field.type == 'object'"
                                       object="record.obj[field.name]"
                                       name="field.name"
                                       on-update="record.objectUpdated(object, name)">
                </devctrl-object-editor>
            </md-list-item>
            <md-list-item>
                <div layout="row">
                    <md-button ng-if="record.newRow" class="md-primary" ng-click="record.addRow()">Add</md-button>
                    <md-button ng-if="! record.newRow" class="md-primary" ng-click="record.updateRow()">Update</md-button>
                    <md-button ng-if="! record.newRow" class="md-primary md-hue-1" ng-click="record.cloneRow()">Clone</md-button>
                    <md-button ng-if="! record.newRow" class="md-warn" ng-click="record.deleteRow()">Delete</md-button>
                    <md-button ng-click="record.close()">Cancel</md-button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Referenced by</md-subheader>
            <div ng-repeat="(tableName, references) in record.obj.referenced">
                <md-list-item ng-repeat="(id, ref) in references">
                    <md-button ng-click="record.editOtherRow(ref)">{{tableName}}[{{id}}]</md-button>
                </md-list-item>
            </div>
            <md-subheader>References</md-subheader>
            <div ng-repeat="fkDef in record.obj.foreignKeys">
                <md-list-item>
                    <md-button ng-click="record.editOtherRow(record[fkDef.fkObjProp])">{{fkDef.fkTable}}[{{record[fkDef.fkObjProp].name}}]</md-button>
                </md-list-item>
            </div>
        </md-list>

    </md-dialog-content>
</md-dialog>