
<md-tabs md-selected="room.selectedGroup" md-dynamic-height>
    <md-tab ng-repeat="(groupName,group) in room.getGroups()"
            label="{{groupName}}" md-on-select="room.groupSelected(groupName)">
        <md-list flex>

                <devctrl-panel ng-repeat="rpanel in room.panels | toArray | filter: { fields : { grouping : groupName }} | orderBy : fields.panel_index"
                               panel-obj="rpanel">
                </devctrl-panel>
        </md-list>

    </md-tab>
    <md-tab label="Devices" md-on-select="room.groupSelected('Devices')">
        <md-list>
            <md-list-item ng-repeat-start="(id, endpoint) in room.getRoomEndpoints()"
                          ng-click="room.menu.go({ name: 'endpoints.endpoint', params : { id : id }})"
                          flex
                          layout="row">
                <span>{{endpoint.fields.name}}</span>
                <span flex></span>
                <devctrl-endpoint-status endpoint-id="id"></devctrl-endpoint-status>
                <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
            </md-list-item>
            <md-divider ng-repeat-end></md-divider>
        </md-list>
    </md-tab>
</md-tabs>
<div flex layout="row" devctrl-admin-only>
    <span flex></span>
    <md-button
            ng-click="room.addPanel($event)"
            class="md-primary">
        Add Panel
    </md-button>
</div>







