<div class="devctrl-ctrl"
     flex
     layout="row"
     layout-align="space-between center">
    <label flex="initial" class="text-menu devctrl-ctrl-label">{{$ctrl.name}}</label>
    <md-switch aria-label="{{$ctrl.name}} 1"
               ng-change="$ctrl.updateValue()"
               ng-model="$ctrl.value[0]"></md-switch>
    <md-switch aria-label="{{$ctrl.name}} 2"
               ng-change="$ctrl.updateValue()"
               ng-model="$ctrl.value[1]"></md-switch>
    <md-switch aria-label="{{$ctrl.name}} 3"
               ng-change="$ctrl.updateValue()"
               ng-model="$ctrl.value[2]"></md-switch>
    <md-switch aria-label="{{$ctrl.name}} 4"
               ng-change="$ctrl.updateValue()"
               ng-model="$ctrl.value[3]"></md-switch>
</div>