<md-toolbar layout-align="center center">
    <span *ngIf="obj.id !== 0">{{schema.label}}[{{obj._id}}]</span>
    <span *ngIf="obj.id == 0">New {{schema.label}} Record</span>
</md-toolbar>
<div>
    <md-list>
        <form>
            <h3 md-subheader>Edit</h3>
            <md-list-item class="md-list-item-text"
                          *ngFor="let field of schema.fields; trackBy: trackByName">
                <md-input *ngIf="field.type == 'string'"
                    placeholder="{{field.label}}"
                    [(ngModel)]="obj[field.name]"
                    name="{{field.name}}">
                </md-input>
                <md-input *ngIf="field.type == 'int'"
                          type="number"
                          placeholder="{{field.label}}"
                          [(ngModel)]="obj[field.name]"
                          name="{{field.name}}">
                </md-input>
                <fk-autocomplete *ngIf="field.type == 'fk'"
                                 [table]="schema.foreign_keys[field.name]"
                                 [field]="field"
                                 [objectField]="obj.objectPropertyName(field.name)"
                                 [selectedItemId]="obj[field.name]"
                                 (onUpdate)="objectUpdated(value, name)">
                </fk-autocomplete>
                <div *ngIf="field.type == 'select-static'">
                    <label>{{field.label}}</label>
                    <md-select placeholder={{field.label}}
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}">
                        <md-option [value]="option.value"
                                   *ngFor="let option of field.options">
                            {{option.name}}
                        </md-option>
                    </md-select>
                </div>
                <md-checkbox  *ngIf="field.type == 'bool'"
                        class="md-primary"
                        [(ngModel)]="obj[field.name]"
                        name="{{field.name}}">
                    {{field.label}}
                </md-checkbox>
                <devctrl-object-editor *ngIf="field.type == 'object'"
                                       [object]="obj[field.name]"
                                       [fname]="field.name"
                                       (onUpdate)="objectUpdated(object, name)">
                </devctrl-object-editor>
            </md-list-item>
            <md-list-item>
                <div layout="row">
                    <button md-button *ngIf="newRow" class="md-primary" (click)="addRow()">Add</button>
                    <button md-button *ngIf="! newRow" class="md-primary" (click)="updateRow()">Update</button>
                    <button md-button *ngIf="! newRow" class="md-primary md-hue-1" (click)="cloneRow()">Clone</button>
                    <button md-button *ngIf="! newRow" class="md-warn" (click)="deleteRow()">Delete</button>
                    <button md-button (click)="close()">Cancel</button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Referenced by</h3>
            <div *ngFor="let tableName of referencedTables()">
                <md-list-item *ngFor="let ref of referencedArray(tableName)">
                    <button md-button (click)="editOtherRow(ref)">{{tableName}}[{{ref._id}}]</button>
                </md-list-item>
            </div>
            <h3 md-subheader>References</h3>
            <div *ngFor="let fkDef of obj.foreignKeys">
                <md-list-item>
                    <button md-button (click)="editOtherRow(obj[fkDef.fkObjProp])">{{fkDef.fkTable}}[{{obj[fkDef.fkObjProp].name}}]</button>
                </md-list-item>
            </div>
        </form>
    </md-list>
</div>    