<md-toolbar color="primary" layout-align="center center">
    <span *ngIf="obj.id !== '0'">{{obj.tableLabel}}[{{obj._id}}]</span>
    <span *ngIf="obj.id == '0'">New {{obj.tableLabel}} Record</span>
</md-toolbar>
<div class="record-container">
    <h3 md-subheader>Edit</h3>
    <form >
        <div class="form-container">
            <ng-template ngFor let-field [ngForOf]="obj.fieldDefinitions" [ngForTrackBy]="trackByName">
                <div class="field-container" [ngSwitch]="field.type">
                    <md-input-container *ngSwitchCase="'string'">
                        <input mdInput
                               [placeholder]="field.label"
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}"
                               [mdTooltip]="field.tooltip"
                               [disabled]="field.inputDisabled">
                    </md-input-container>
                    <md-input-container  *ngSwitchCase="'int'">
                        <input mdInput
                               type="number"
                               [placeholder]="field.label"
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}"
                               [mdTooltip]="field.tooltip"
                               [disabled]="field.inputDisabled">
                    </md-input-container>
                    <fk-autocomplete *ngSwitchCase="'fk'"
                                     [object]="obj"
                                     [field]="field"
                                     (onUpdate)="objectUpdated($event)">
                    </fk-autocomplete>
                    <md-select *ngSwitchCase="'select-static'"
                               [placeholder]="field.label"
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}"
                               style="margin-top: 20px; margin-bottom: 6px;"
                               [mdTooltip]="field.tooltip">
                        <md-option [value]="option.value"
                                   *ngFor="let option of field.options">
                            {{option.name}}
                        </md-option>
                    </md-select>
                    <md-checkbox  *ngSwitchCase="'bool'"
                                  class="md-primary"
                                  [(ngModel)]="obj[field.name]"
                                  name="{{field.name}}"
                                  [mdTooltip]="field.tooltip">
                        {{field.label}}
                    </md-checkbox>
                    <devctrl-object-editor *ngSwitchCase="'object'"
                                           [object]="obj[field.name]"
                                           [fname]="field.name"
                                           (onUpdate)="objectUpdated($event)">
                    </devctrl-object-editor>
                    <devctrl-watcher-action-value *ngSwitchCase="'watcher-action-value'"
                            [actionValue]="obj[field.name]"
                            [contextObject]="obj"
                            (onUpdate)="objectUpdated($event)">
                    </devctrl-watcher-action-value>
                    <div *ngSwitchDefault>
                        Unknown field type {{field.type}}
                    </div>
                </div>
            </ng-template>
        </div>
    </form>
    <div>
        <button md-button *ngIf="newRow" color="primary" (click)="addRow()">Add</button>
        <button md-button *ngIf="! newRow" color="primary" (click)="updateRow()">Update</button>
        <button md-button *ngIf="! newRow" color="accent" (click)="cloneRow()">Clone</button>
        <button md-button *ngIf="! newRow" color="warn" (click)="deleteRow()">Delete</button>
        <button md-button (click)="close()">Cancel</button>
    </div>
    <md-divider></md-divider>
    <h3>Referenced by</h3>
    <md-list *ngFor="let tableName of referencedTables()">
        <md-list-item *ngFor="let ref of referencedArray(tableName) | slice:0:5">
            <button md-button (click)="editOtherRow(ref)">{{tableName}}[{{ref._id}}]</button>
        </md-list-item>
        <md-list-item *ngIf="referencedArray(tableName).length > 5">
          ... and {{referencedArray(tableName).length - 5}} other {{tableName}}
        </md-list-item>
    </md-list>
    <h3 md-subheader>References</h3>
    <md-list *ngFor="let fkDef of obj.foreignKeys">
        <md-list-item>
            <button md-button (click)="editOtherRow(obj[fkDef.fkObjProp])">{{fkDef.fkTable}}[{{fkName(fkDef.fkObjProp)}}]</button>
        </md-list-item>
    </md-list>
</div>    