<div class="devctrl-ctrl-item" flex="auto" layout="row" layout-align="space-between start">
    <div  ng-if="ctrl.type == 'slider'"
          class="devctrl-ctrl"
          flex
          layout="row"
            layout-align="space-between center">
        <label flex="initial" class="text-menu devctrl-ctrl-label">{{ctrl.ctrlName()}}</label>
        <md-slider flex
                   min="{{ctrl.intConfig('min')}}"
                   max="{{ctrl.intConfig('max')}}"
                   ng-model="ctrl.ctrl.fields.value"
                   ng-change="ctrl.updateValue()"
                   aria-label="{{ctrl.name}}">
        </md-slider>
        <div layout layout-align="center center">
            <input class="devctrl-slider-input" type="number" ng-model="ctrl.ctrl.fields.value" ng-change="ctrl.updateValue()">
        </div>
    </div>


    <div ng-if="ctrl.type == 'select'"
         class="devctrl-ctrl devctrl-ctrl-select"
         flex
         layout="row"
         layout-align="space-between center"
            >
        <label class="text-menu devctrl-ctrl-label">{{ctrl.ctrlName()}}</label>
        <md-select placeholder="Select"
                ng-model="ctrl.ctrl.fields.value"
                ng-change="ctrl.updateValue()">
            <md-option ng-value="obj.fields.value" ng-repeat="obj in ctrl.selectOptions() | toArray | filter: { fields : { enabled : 1 }}">
                {{obj.fields.name}}
            </md-option>
        </md-select>
    </div>

    <div ng-if="ctrl.type == 'level'"
         class="devctrl-ctrl"
         flex
         layout="row"
         layout-align="space-between center">
        <label flex="initial" class="text-menu devctrl-ctrl-label">{{ctrl.ctrlName()}}</label>
        <md-progress-linear flex md-mode="determinate" value="{{ctrl.normalizedValue()}}"></md-progress-linear>
    </div>

    <div ng-if="ctrl.type == 'switch'"
         layout="row"
         layout-align="space-between center"
         class="devctrl-ctrl"
         flex >
        <label class="text-menu">{{ctrl.ctrlName()}}</label>
        <md-switch aria-label="{{ctrl.ctrlName()}}" ng-model="ctrl.ctrl.fields.value"
                   ng-true-value="1" ng-false-value="0" ng-change="ctrl.updateValue()"></md-switch>
    </div>

    <devctrl-slider2d ng-if="ctrl.type == 'slider2d'" flex control="ctrl"></devctrl-slider2d>

    <div class="devctrl-ctrl-admin-placeholder"
         flex="none">
        <md-menu devctrl-admin-only>
            <md-button  class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon  md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item><md-button ng-click="ctrl.editControl($event)">Edit Control...</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="ctrl.editTemplate($event)">Edit Template...</md-button></md-menu-item>
                <md-menu-item ng-if="ctrl.panelContext">
                    <md-button ng-click="ctrl.editPanelControl($event)">Edit Panel Control...</md-button>
                </md-menu-item>
                <md-menu-item ng-if="ctrl.type == 'select'">
                    <md-button ng-click="ctrl.editOptions()">Edit Select Options...</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>