<div class="coe-ctrl" layout ng-if="ctrl.type == 'slider'">
    <div flex="10" layout layout-align="center center">
        <span class="text-caption">{{ctrl.name}}</span>
    </div>
    <md-slider flex
               min="{{ctrl.template.fields.min}}"
               max="{{ctrl.template.fields.max}}"
               ng-model="ctrl.ctrl.fields.value"
               ng-change="ctrl.updateValue()"
               aria-label="{{ctrl.name}}">
    </md-slider>
    <div flex="20" layout layout-align="center center">
        <input type="number" ng-model="ctrl.ctrl.fields.value" ng-change="ctrl.updateValue()">
    </div>
</div>

<div class="coe-ctrl-select" layout="column" ng-if="ctrl.type == 'select'">
    <label class="text-menu">{{ctrl.name}}</label>
    <md-select placeholder="Select" ng-model="ctrl.ctrl.fields.value" ng-change="ctrl.updateValue()">
        <md-option ng-value="obj.fields.value" ng-repeat="(key, obj) in ctrl.selectOptions()">
            {{obj.fields.name}}
        </md-option>
    </md-select>
</div>

<div class="coe-ctrl-level" layout ng-if="ctrl.type == 'level'">
    <label flex="30" class="text-menu">{{ctrl.name}}</label>
    <md-progress-linear md-mode="determinate" value="{{ctrl.normalizedValue()}}"></md-progress-linear>
</div>

<div layout="row" class="coe-ctrl-switch" ng-if="ctrl.type == 'switch'">
    <label class="text-menu">{{ctrl.name}}</label>
    <span flex></span>
    <md-switch aria-label="{{ctrl.name}}" ng-model="ctrl.ctrl.fields.value"
               ng-true-value="1" ng-false-value="0" ng-change="ctrl.updateValue()"></md-switch>
</div>

<switch-set ng-if="ctrl.type == 'switch-set'" control="ctrl.ctrl"></switch-set>