<div layout="column" ng-if="main.$state.is('endpoints')">
            <md-toolbar layout="row" devctrl-admin-only >
                <div class="md-toolbar-tools">
                    <md-button ng-click="main.addEndpoint($event)">Add Endpoint</md-button>
                    <md-button ng-click="main.addEndpointType($event)">Add Endpoint Type</md-button>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat-start="(id, device) in main.control_endpoints.indexed" ng-click="main.go({ name: 'endpoints.endpoint', params : { name : device.fields.name, id : id }})">
                    {{device.fields.name}}
                    <span flex></span>
                    <devctrl-endpoint-status endpoint-id="id"></devctrl-endpoint-status>
                    <md-icon md-font-set="material-icons" >chevron_right</md-icon>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
</div>
<ui-view></ui-view>