<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button devctrl-admin-only ng-click="endpoint.addTemplate($event)">Add Control Template</md-button>
        <md-button devctrl-admin-only ng-click="endpoint.editEndpoint($event)">Edit Device</md-button>
        <span flex></span>
        <devctrl-endpoint-status endpoint-id="endpoint.obj.id"></devctrl-endpoint-status>
    </div>
</md-toolbar>

<md-list>
    <md-list-item ng-repeat-start="(key, control) in endpoint.controls">
        <ctrl flex control-id="key"></ctrl>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
</md-list>


