<md-dialog>
    <md-toolbar layout-align="center center">{{editor.title()}}</md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-list-item layout="row" ng-if="editor.isEnumSelectable()">
                <label>Options Set:</label>
                <fk-select ng-if="! editor.isAddingEnum"
                            table="'enums'"
                             field="{label: 'Options Set', name:'enum_id'}"
                             select-model="editor.enumRefRecord.fields"
                             fk-on-change="editor.updateEnum"
                             add-new-option="true">
                </fk-select>
                <div layout="row" ng-if="editor.isAddingEnum">
                    <md-input-container flex>
                        <label>New Set</label>
                        <input  ng-model="editor.newEnumName">
                    </md-input-container>
                    <md-button ng-click="editor.addNewEnum()">Add</md-button>
                </div>
            </md-list-item>
            <md-list-item layout="row">
                <label flex>Name</label>
                <label flex>Value</label>
                <label>Enabled?</label>
                <label>Delete</label>
            </md-list-item>
            <md-list-item layout="row" ng-repeat="(id, enumValObj) in editor.myEnum.referenced['enum_vals']">
                    <md-input-container flex>
                        <input  ng-model="enumValObj.fields.name"
                                ng-change="editor.updateEnumValue(enumValObj)">
                    </md-input-container>
                    <md-input-container flex>
                        <input  ng-model="enumValObj.fields.value"
                                ng-change="editor.updateEnumValue(enumValObj)">
                    </md-input-container>
                    <md-switch ng-model="enumValObj.fields.enabled"
                               ng-change="editor.updateEnumValue(enumValObj)"
                               ng-true-value="1" ng-false-value="0">
                    </md-switch>
                    <md-button class="md-icon-button" ng-click="editor.deleteEnumValue(enumValObj)">
                        <md-icon md-font-set="material-icons">clear</md-icon>
                    </md-button>
            </md-list-item>
            <md-list-item layout="row">
                <md-input-container>
                    <label>Name</label>
                    <input  ng-model="editor.newEnumValue.fields.name">
                </md-input-container>
                <md-input-container>
                    <label>Value</label>
                    <input  ng-model="editor.newEnumValue.fields.value">
                </md-input-container>
                <md-button ng-click="editor.addEnumValue()">
                    Add
                </md-button>

            </md-list-item>
            <md-list-item>
                <md-button ng-click="editor.close()">
                    Done
                </md-button>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>