<md-dialog>
    <md-toolbar layout-align="center center">Select Control</md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-list-item class="md-list-item-text">
                <md-select placeholder="Device Type"
                           multiple="true"
                           ng-model="selector.endpointTypesSelected">
                    <md-option ng-value="key" ng-repeat="(key, row) in selector.getEndpointTypes()">
                        {{row.fields.name}}
                    </md-option>
                </md-select>
                <span flex></span>
                <md-button ng-click="selector.clearEndpointTypes()">Clear</md-button>
            </md-list-item>
            <md-list-item class="md-list-item-text">
                <md-select placeholder="Device"
                           multiple="true"
                           ng-model="selector.endpointsSelected">
                    <md-option ng-value="key" ng-repeat="(key, row) in selector.getEndpoints()">
                        {{row.fields.name}}
                    </md-option>
                </md-select>
                <span flex></span>
                <md-button ng-click="selector.clearEndpoints()">Clear</md-button>
            </md-list-item>
            <md-list-item class="md-list-item-text">
                <md-select placeholder="Control"
                           ng-model="selector.newPanelControl.fields.control_id">
                    <md-option ng-value="key" ng-repeat="(key, row) in selector.getControls()">
                        {{row.fields.name}}
                    </md-option>
                </md-select>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <label>Name</label>
                    <input  ng-model="selector.newPanelControl.fields.name">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <div layout="row">
                    <md-button class="md-primary" ng-click="selector.addPanelControl()">Add</md-button>
                    <md-button ng-click="selector.cancelAdd()">Cancel</md-button>
                </div>
            </md-list-item>
        </md-list>

    </md-dialog-content>
</md-dialog>