<md-dialog>
    <md-toolbar layout-align="center center">{{record.schema.label}} - {{record.obj.id}}</md-toolbar>
    <md-dialog-content>

        <md-list>
            <md-subheader>Edit</md-subheader>
            <md-list-item class="md-list-item-text"
                 ng-repeat="field in record.schema.fields"
                 ng-switch="field.type">
                <md-input-container ng-if="field.type == 'string'">
                    <label>{{field.label}}</label>
                    <input  ng-model="record.obj.fields[field.name]">
                </md-input-container>
                <md-input-container ng-if="field.type == 'int'">
                    <label>{{field.label}}</label>
                    <input  type="number" ng-model="record.obj.fields[field.name]">
                </md-input-container>
                <fk-select ng-if="field.type == 'fk'"
                           table="record.schema.foreign_keys[field.name]"
                           field="field"
                           select-model="record.obj.fields">
                </fk-select>
                <enum-select ng-if="field.type == 'enum'"
                             table="record.obj.tableName"
                             field="field"
                             select-model="record.obj.fields">
                </enum-select>
                <md-input-container ng-if="field.type == 'bool'">
                    <md-checkbox
                                 class="md-primary"
                                 ng-true-value="1"
                                 ng-false-value="0"
                                 ng-model="record.obj.fields[field.name]">
                        {{field.label}}
                    </md-checkbox>
                </md-input-container>
                <devctrl-object-editor ng-if="field.type == 'object'"
                                       object="record.obj.fields[field.name]">
                </devctrl-object-editor>
            </md-list-item>
            <md-list-item>
                <div layout="row">
                    <md-button ng-if="record.newRow" class="md-primary" ng-click="record.addRow()">Add</md-button>
                    <md-button ng-if="! record.newRow" class="md-primary" ng-click="record.updateRow()">Update</md-button>
                    <md-button ng-if="! record.newRow" class="md-primary md-hue-1" ng-click="record.cloneRow()">Clone</md-button>
                    <md-button ng-if="! record.newRow" class="md-warn" ng-click="record.deleteRow()">Delete</md-button>
                    <md-button ng-click="record.close()">Cancel</md-button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Referenced by</md-subheader>
            <div ng-repeat="(tableName, references) in record.obj.referenced">
                <md-list-item ng-repeat="(id, ref) in references">
                    <span>{{tableName}} - {{id}}</span>
                </md-list-item>
            </div>
        </md-list>

    </md-dialog-content>
</md-dialog>