<div flex layout="row" devctrl-admin-only>
    <md-button
               ng-click="room.addPanel($event)"
               class="md-primary">
        Add Panel
    </md-button>
</div>
<md-tabs md-selected="room.selectedGroup" md-dynamic-height>
    <md-tab ng-repeat="(groupName,group) in room.getGroups()"
            label="{{groupName}}">
        <md-list flex>

                <devctrl-panel ng-repeat="rpanel in room.panels | toArray | filter: { fields : { grouping : groupName }} | orderBy : fields.panel_index"
                               panel-obj="rpanel">
                </devctrl-panel>
        </md-list>

    </md-tab>
</md-tabs>







