<div class="coe-ctrl-switch-set" layout="row" layout-sm="column">
    <span class="text-menu">{{ctrl.name}}</span>
    <md-button class="md-raised" ng-click="switchSet.setAll(0)">All Off</md-button>
    <md-button class="md-raised md-primary" ng-click="switchSet.setAll(1)">All On</md-button>
    <div ng-repeat="(cid, switch) in switchSet.slaveControls()">
        <label>{{switchSet.slaveName(switch)}}</label>
        <md-switch  class="md-primary"
                    aria-label="{{switchSet.slaveName(switch)}}"
                    ng-model="switch.fields.value"
                    ng-change="switchSet.updateCtrlValue(switch)"
                    ng-true-value="1"
                    ng-false-value="0">

        </md-switch>
    </div>
</div>