
<md-toolbar layout="row" layout-align="start center">
    <div flex layout="row"
         layout-align="center center"
         class="devctrl-main-toolbar">
        <md-button ng-click="toolbar.menu.toggleSidenav('left')"
                   ng-hide="toolbar.menu.hideSidenavButton()"
                   class="dc-toolbar-sidenav-button md-icon-button">
            <md-icon aria-label="Menu"  md-font-set="material-icons" >menu</md-icon>
        </md-button>
        <span flex class="title text-headline">{{toolbar.pageTitle()}}</span>
        <md-button ng-if="! main.user.admin" ng-click="toolbar.adminLogin()">Admin Login</md-button>
        <span ng-if="toolbar.user.admin">{{toolbar.user.username}}</span>
        <md-menu ng-if="toolbar.user.admin">
            <md-button  class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon  md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-switch ng-model="toolbar.config.editEnabled"
                               ng-change="toolbar.updateConfig()">
                        Edit
                    </md-switch>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="toolbar.revokeAdmin()">Admin Logout</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
