<div class="devctrl-ctrl-item" flex="auto" layout="row" layout-align="space-between start">
    <!-- <ng-include flex src="'app/ng1/controls/' + type + '.html'"></ng-include> -->
    <div class="devctrl-ctrl-admin-placeholder"
         *ngIf="! menu.narrowMode()"
         flex="none">

        <button md-icon-button [md-menu-trigger-for]="adminmenu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu *devctrlAdminOnly #adminmenu="mdMenu">
            <md-menu-item (click)="editControl($event)">
                    <md-icon>create</md-icon>
                    Control
            </md-menu-item>
            <md-menu-item *ngIf="panelContext" (click)="editPanelControl($event)">
                    Edit Panel Control
            </md-menu-item>
            <md-menu-item *ngIf="type == 'select' || type == 'select-readonly'"
                          label="Control Options"
                           (click)="editOptions()">
                    <md-icon>create</md-icon>
                    Control Options
            </md-menu-item>
            <md-menu-item label="Add Watcher Rule"
                           (click)="addWatcherRule($event)">
                    <md-icon>visibility</md-icon>
                    Add Watcher Rule
            </md-menu-item>
            <md-menu-item (click)="showLog($event)">
                    <md-icon>change_history</md-icon>
                    Control Log
            </md-menu-item>
        </md-menu>
    </div>
</div>