<md-subheader>
    {{$ctrl.panelObj.name}}
    <md-button class="md-primary"  ng-click="$ctrl.setAllSwitches(true)">All On</md-button>
    <md-button class="md-warn" ng-click="$ctrl.setAllSwitches(false)">All Off</md-button>
    <md-button devctrl-admin-only
               ng-click="$ctrl.addControl($event)"
               class="md-primary">
        Add Control
    </md-button>
    <md-button devctrl-admin-only
               ng-click="$ctrl.editPanel($event)"
               class="md-primary md-hue-1">
        Edit Panel
    </md-button>
</md-subheader>

<md-list-item ng-repeat="pcontrol in $ctrl.panelObj.referenced.panel_controls">
    <devctrl-ctrl flex panel-control="pcontrol"></devctrl-ctrl>
</md-list-item>