<md-subheader>
    {{panel.fields.name}}
    <md-button class="md-primary"  ng-click="panel.setAllSwitches(1)">All On</md-button>
    <md-button class="md-warn" ng-click="panel.setAllSwitches(0)">All Off</md-button>
    <md-button ng-if="panel.appConfig.editEnabled"
               ng-click="panel.addControl($event)"
               class="md-primary">
        Add Control
    </md-button>
    <md-button ng-if="panel.appConfig.editEnabled"
               ng-click="panel.editPanel($event)"
               class="md-primary md-hue-1">
        Edit Panel
    </md-button>
</md-subheader>
<md-list-item ng-repeat="pcontrol in panel.pcontrols">
    <ctrl flex panel-control="pcontrol"></ctrl>
</md-list-item>