<div layout="column" ng-if="main.$state.is('config.data')">
            <md-list>
                <md-list-item ng-repeat-start="(name, schema) in main.schema" ng-click="main.go({ name: 'config.data.table', params : { name : name }})">
                    {{schema.label}}
                    <span flex></span>
                    <md-icon md-font-set="material-icons" >chevron_right</md-icon>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
</div>
<ui-view></ui-view>